

 *{
   padding: 0px;
   margin: 0px;

 }
 body{
  background-color: rgb(244, 238, 238);
 }
   .top-row{
       background: url("image/topimg.webp")no-repeat center center/cover ;
       /* position: sticky; */
        /* z-index: 10002; */
   }
   .header ul li {
       list-style: none;
   }
   .header a {
       text-decoration: none;
   }
   .ul-div ul li {
       display: inline;
       padding: 12px;
       /* margin-top: 13px; */
   }
   .ul-div a{
       /* text-decoration: none; */
       color:aliceblue;
   }
 .ul-div{
   margin-left: 6%;
   margin-top: 10px;
   font-weight: 600;
 }
 .headline{
   margin-top: 10px;
   margin-left: 25px;
 font-weight: bolder;
   font-size: 18px;
 }
.second-ul{
   background-color: #fff;
   border-bottom:1px solid rgb(152, 151, 151);
   display: flex;
   /* z-index: 10002; */
   /* height: 200px; */
}
.second-ul a{
   color: #333;
   /* text-decoration: none; */
   font-size: 15px;
   font-weight: 700;

 }
 .second-ul-div ul li{
   display: inline;
   padding-left: 25px;
   

 }
 .second-ul-div ul:first-child{
   padding-top: 10px;

 }
 /* .second-ul-div ul li button{
   width: 21%;
   border: 1px solid rgba(151,151,151,0.1);
   font-size: 15px;
   color: rgb(119, 119, 119);
   margin-left: 100px;
  text-align: left;
   background-color: rgb(240, 236, 236);
 } */

 .second-ul-div ul li input{
    width: 21%;
    border: 1px solid rgba(151,151,151,0.1);
    font-size: 15px;
    color: rgb(119, 119, 119);
    margin-left: 100px;
   text-align: left;
    background-color: rgb(240, 236, 236);
  }
 .second-ul-div ul li a:hover{
   color: rgb(239, 50, 116);
 }
 

 .img-div img{
   height: 30px;
   width: 30px;
   margin: 10px;
 }
 
 .img-div span{
   color: rgb(110, 110, 110);
  
 }
 .main-categories {
   border-bottom:1px solid rgb(152, 151, 151);
   padding-left: 80px;
   padding-top: 18px;  
   background-color: #fff;
   /* background-color: aqua; */
  
 }
 .main-categories ul li{
   display: inline;
   font-size: 15px;
   font-weight: 500;
   padding-left: 30px;
 
 }
 .main-categories ul li a{
  color: rgba(3, 2, 26, 0.5);
 }
 .main-categories ul li a:hover{
   color: rgb(239, 50, 116);
   text-decoration:underline;
   font-weight: bold;
 }
 .cc button{
   background-color:black;
   border-radius: 50px;
  color: white;
   height: 50px;
   width: 50px;
   margin-top: 150px;
 }

 .carousel-indicators [data-bs-target]{
  height: 13px;
  width: 13px;
  
  border-radius: 100px !important;
  background-color:rgb(239, 50, 116);
 }
 .rose-div{
   margin-top: 25px;
   background-color: rgb(244, 238, 238);
 

 }
 .rose-img{
   display: flex;
   justify-content: center;
   align-items: center; 
  margin-top: 30px;
  /* background-color: rgb(253, 249, 249); */
 }
 .rose-img img{
   margin: 25px;
   cursor: pointer;
 }
 /* .d-flex{
 justify-content: center;
  align-items: center;
 } */
 .mid-img{
  justify-content: center;
  align-items: center;
 }
 .mid-img div:hover{
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 22%);
 }


 .offer{
   margin: 15px;
   display: flex;
   justify-content: center;
  align-items: center;
 }
 .offer img{
   width: 88%;
   margin-bottom: 15px;
   cursor: pointer;
 }
 .txt p {
   text-align: center;
   font-size: 26px;
   font-weight: 400;
 }
 .nykaa-img-div img{
   margin: 10px;
   width: 555px;
  
 }
 .outer-hidden-div{
  position: absolute;
  z-index: 10002;
  display: none;
  /* border: 2px solid red; */
  width: 1140px; 
  background: #ffffff;
  /* margin-top: 4px; */
 }
.hidden-div{
margin-top: 16px;
border-top: 1px solid rgb(154, 154, 154);
position: relative;
padding-left: 15px;

}

.hidden-data ul li {
  padding-left: 0px;
  line-height: 20px;
  font-size: 14px;
 display: list-item;
 color: rgba(3, 2, 26, 0.5);
}
.hidden-data ul li a{
  font-size: 16px;
  font-weight: 700;
  color: rgba(1, 1, 11, 0.5);
}
.hidden-data ul{
  padding: 13px;
}
.hidden-data {
  width: 190px;
}

.s-c{
  justify-content:flex-start;
  padding-left: 60px;
  margin-top: 40px;
  
}
.s-img img{
  height: 250px;
  width: 250px;
  margin: 10px;
  /* border-radius: 10px; */
}

.tci{
  height: 250px;
  margin-left: 60px;
}
.mh-txt{
  padding-left: 0px;
  font-weight: 700;
  font-size: 16px;
  color: rgba(3, 2, 26, 0.5);
}
.b-heading{
  padding-left: 40px;
  font-weight: bold;
  font-size: large;
}
.m-img img{
  height: 200px;
  width: 200px;
  margin: 7px;
  border-radius: 10px;
  cursor: pointer;
}
.m-img img:hover{
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 22%);
  height: 210px;
  width: 210px;
}
.iff{
  color: rgb(0, 19, 37);
    font-size: 28px;
    font-family: Inter;
    letter-spacing: 0rem;
    font-weight: 800;
}
.g-img{
  margin-left: 20px;
}
.g-img img{
  height: 320px;
  width: 250px;
  margin: 10px;
  /* border-radius: 10px; */
  cursor: pointer;
}
.g-img div p{
  text-align: center;
  padding-left: 20px;
}
.g-txt{
  text-align: center;
  line-height: normal;
}
.edt-img img{
  height: 420px;
  width: 280px;
  margin: 8px;
  /* border-radius: 10px; */
  cursor: pointer;
}
.shopnow img{
  width: 80%;
  padding-top: 20px;
}
.info{
  background-color: rgb(63, 65, 77);
  color: rgb(255, 255, 255);
}
.info-div{
margin: 20px;
padding: 20px;
text-align: center;
}

.s-icon img{
  height: 40px;
  width: 110px;
  margin: 3px;

}
.info-div input{
  background-color: rgb(63, 65, 77);
  border: 2px solid  rgb(63, 65, 77);
  color: rgb(255, 255, 255);
  border-bottom:2px solid rgb(255, 255, 255);
}
.info-div button{
  background-color: rgb(63, 65, 77);
  color: rgb(255, 255, 255);
  width: 80px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid rgb(255, 255, 255);
}
.bottom-div{
  background-color: #8c8d94;
    color: #fff;
    justify-content: center;
}
.bottom-div div{
  margin-top: 20px;
  padding-top:20px;
}

.bottom-div ul li{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.bottom-div ul li a{
  color: inherit; 
}
.bottom-div ul li a:hover{
  color: rgb(239, 50, 116);
  
}
.icon-div{
  justify-content: center;
 
 height: 250px;
  background-color: #f3f3f3;
}
.icon-div div{
  margin-top: 80px;
  color: #3f3f51;
}
.social-icon img{
  width: 170px;
}
.footer{
  background-color: #fc2779;
  color: #ffffff;
  /* border-top: 1px solid #fff; */
  text-align: center;
  margin-bottom: 50px;
  font-size:13px;
  font-weight: 500;

}
.footer div{
  margin-top: 30px;
}
.footer div a{
  color: #ffffff;
  margin-left: 20px;
}
.footer p{
  padding-top: 10px;
  padding-bottom: 20px;
}

